<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.authentication">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Authentication"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity android:name=".Activity.Walkthrough.SlideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.Authentication.CreatePassword">
            <intent-filter>
                <action android:name="com.example.authentication.CreatePassword"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".Activity.Authentication.Verification">

        </activity>

        <activity android:name=".Activity.AbstractActivity">

        </activity>

        <activity android:name=".Activity.Authentication.PhoneNumber">

        </activity>

        <activity android:name=".Activity.Authentication.LogIn">

        </activity>

        <activity android:name=".Fragment.ManageAppFragment">

        </activity>

        <activity android:name=".Activity.Authentication.NewAccount">

        </activity>

        <activity android:name=".Activity.Splash">

        </activity>
        <provider
            android:name="com.example.authentication.Model.Provider.CourseProvider"
            android:authorities="com.example.authentication.Model.Provider.CourseProvider"
            android:enabled="true"
            android:exported="true">
        </provider>

        <provider
            android:name="com.example.authentication.Model.Provider.NotificationProvider"
            android:authorities="com.example.authentication.Model.Provider.NotificationProvider"
            android:enabled="true"
            android:exported="true">
        </provider>

        <service
            android:name="com.example.authentication.Service.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.example.authentication.Service.MusicService" android:enabled="true"
            android:exported="true"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_notifications_24" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/orange_400" />

    </application>

    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />

        </intent>
    </queries>

</manifest>